@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #ECCCB2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto; }

a {
  text-decoration: none;
  color: #AC7088; }

nav {
  width: 60%; }

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  height: 100px; }
  .navBar li {
    list-style: none; }
    .navBar li a {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-size: 20px; }
      .navBar li a:hover {
        font-size: 30px; }

.title {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 25px; }

.title img {
  width: 80px;
  border-radius: 50px; }

main {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: auto; }

.container {
  background-color: white;
  width: 100%;
  height: 500px;
  background-image: url("../assets/IMG_2101.jpg");
  background-position: center;
  background-size: cover; }

.container p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-family: normal;
  font-weight: 200;
  font-size: 30px; }

.lugares {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none; }

.lugares img {
  height: 200px;
  width: 200px; }

.de-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "item1 item2" "item3 item3";
  row-gap: 10px;
  column-gap: 10px; }

.item1 {
  grid-area: item1;
  margin-left: 10px;
  margin-top: 10px; }

.item2 {
  grid-area: item2;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.item3 {
  grid-area: item3; }

.carta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contact-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "parrafo formulario" "final formulario"; }

.parrafo {
  grid-area: parrafo; }

.formulario {
  grid-area: formulario;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.final {
  grid-area: final;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px; }

.final img {
  width: 450px;
  border-radius: 30px; }

.formulario fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

footer {
  background-color: #AC7088;
  color: #F5E8C7;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto; }

.cosas {
  gap: 10px;
  margin-left: 25px;
  width: 100%;
  list-style: none; }

.cosas img {
  filter: invert(99%) sepia(21%) saturate(1226%) hue-rotate(317deg) brightness(100%) contrast(92%); }

.si {
  width: 100%; }

.si img {
  width: 95px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 13px; }

h2 {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.sociales {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  margin-right: 15px; }

.sociales img {
  filter: invert(99%) sepia(21%) saturate(1226%) hue-rotate(317deg) brightness(100%) contrast(92%); }

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 250px;
    gap: 10px; }
  .navBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px; }
  .title {
    align-self: flex-start; }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .cosas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px; }
  .si {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px; }
  .de-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "item1" "item2" "item3"; }
  .item1 {
    grid-area: item1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px; }
  .item2 {
    grid-area: item2; }
  .item3 {
    grid-area: item3; }
  .lugares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .item2 iframe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto; } }

@media (max-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px; }
  .cosas {
    margin-left: 10px; } }
