header{
    background-color: #ECCCB2;
    @include flex(row,space-between,center);
    height: auto;
}

a{
    text-decoration: none;
    color: #AC7088;
}
nav{
    width: 60%;
}

.menu{
    position: relative;
}

.menu #carrito{
    display: none;
}
.menu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;

}

#vaciar-carrito{
    font-size: 15px;
}

#img-carrito{
    cursor: pointer;
}

.navBar{   
    @include flex(row,space-evenly,center);
    gap: 15px;
    height: 100px;
    li{
        list-style: none;
        a{
            font-family: $typo-principal;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            &:hover{
                font-size: 25px;
            }
            
        }
    }
}

.title{
    font-family: $typo-principal;
    font-weight: bold;
    font-size: 20px;
    @include flex(row,center,center);
    gap: 10px;
    margin-left: 25px;
}


