@media (max-width:320px){
    header{
        
        @include flex(column,flex-start,center);
        gap: 15px;
    }
    .navBar{
        li{
            a{
                &:hover{
                    font-size: 20px;
                }
            }
        }
    }
    .cosas{
        margin-left: 10px;
    }

    .final img{
        width: 250px;
        height: auto;
        margin-right: 15px;
    }
    .item2 iframe{
        width: 200px;
    }
}